.gift-book {
  display: flex;
  margin-top: 6.56rem;
  padding-inline: 2rem;
  max-width: 75rem;
  max-height: 25rem;
  margin: auto;

  border: 1px solid violet;
  &  img {
    max-width: 5.5rem;
  }

  & b {
    &:hover {
      color: var(--blue-mid);
      transition: color 1s ease;
    }
  }

  img[src*='mystery-opened'] {
    display:inline-block;
    margin-inline: 45%;

    transform: rotate(20deg);
  }

  & span {
    font: 500 var(--sb-text)/2.0 var(--ff-base);
    color: var(--text-body);
    text-align: center;
  }
  img[src*='mystery-ouija'] {
    display: inline-block;
    margin-bottom: 4.5rem;
    margin-left: -2%;
    transform: rotate(100deg);
  }
  img[src*='mystery-crystal'] {
    transform: rotate(-15deg);
    /* display: inline-block; */
    margin-left: 85.5%;
    margin-bottom: 4.5rem;
  }

  &:hover {
    animation: gift-appear 500ms ease;
  }

}
